.btn {
    -fx-background-color: #00A896;
}

.btn:hover {
    -fx-background-color: #047717;
    -fx-border-color: 2px solid white;
    -fx-border-radius: 20px;
}

#btnLogin:hover {
    -fx-background-color: #047717;
    -fx-border-color: 2px solid red;
    -fx-border-radius: 20px;
}